<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://melodymusicshop.com/cdn/shop/files/Acoustic_Room.webp?v=1672856997);">
      <div class="container">
        <h1 id="message-1">I'm looking for <strong>My Spare</strong> ...</h1>
        <p id="message-2">Never miss another Jam!</p>
      </div>
    </div>
<div id="main-container" class="main-container">
  <div class="cards-grid">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument) do %>
        <div class="card-instrument">
          <%= image_tag(instrument.image_url, alt: instrument.category) %>
          <div class="card-instrument-infos">
            <div class="card-distance-owner">
              <h3>Distance: <%=distance_from_user(instrument)%> km</h3>
              <p><%=instrument.category%> from <%=instrument.user.first_name%></p>
            </div>
            <div class="card-notice">
              <h4> Check this out!</h4>
            </div>
            <div class="card-price">
              <h3>€ <%=instrument.daily_price%></h3>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
