<div id="main-container" class="main-container">
  <h1>Hi <%= current_user.first_name %>, this is your Dashboard</h1>

  <%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete }  %>

  <h2>Your instruments</h2>
  <div>
    <% if @instruments.empty? %>
      <p>You don't have any instruments</p>
    <% end %>
    <%= link_to "Add a new instrument", new_instrument_path %>
    <div class="cards-grid">
      <% @instruments.each do |instrument| %>
        <%= link_to instrument_path(instrument) do %>
          <div class="card-instrument">
            <%= image_tag instrument.image_url, alt: "Image of #{instrument.category}", height: 400 %>
            <div class="d-flex align-items-center justify-content-center ">
              <div class="text-center">
                <h2><%= instrument.category %> <%= instrument.brand %></h2>
                <h3><%= instrument.daily_price.to_i %> € per day</h3>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <h2>Bookings of your instruments</h2>
  <% @instruments.each do |instrument| %>
    <% if instrument.bookings.length > 0 %>
      <%= image_tag instrument.image_url, alt: "Image of #{instrument.category}", height: 400 %>
    <% end %>
    <ul class="cards-grid">
      <% instrument.bookings.each do |booking| %>
        <li class="card-instrument">
          <p>Booked by <%= booking.user.first_name %> (<%= booking.user.email %>)</p>
          <p>Dates: from <%= booking.start_date %> until <%= booking.end_date %></p>
          <p>Income: <%= booking.cost.to_i %>€<span><%= link_to "Cancel booking", booking_path(booking), data: { turbo_method: :delete } %></span></p>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h2>You have booked these instruments:</h2>
  <ul class="cards-grid">
    <% @bookings.each do |booking| %>
      <li class="card-instrument">
        <%= image_tag booking.instrument.image_url, alt: "Image of #{booking.instrument.category}", height: 400 %>
        <p>Booking:<br> <strong><%= booking.instrument.user.first_name %>'s <%= booking.instrument.category %></strong></p>
        <p>Dates: from <%= booking.start_date %> until <%= booking.end_date %></p>
        <p>Total cost: <%= booking.cost.to_i %>€<span><%= link_to "Cancel booking", booking_path(booking), data: { turbo_method: :delete } %></span></p>
      </li>
    <% end %>
  </ul>
</div>
