<div class="container">
  <div class="row justify-content-center mx-1">
    <div class="col-12 col-lg-10 col-xl-8">
      <%= simple_form_for instrument, html: { class: "bg-white p-5 border border-dark rounded shadow" } do |f| %>
        <%= f.input :model %>
        <%= f.input :brand %>
        <%= f.input :category %>
        <%= f.input :daily_price %>
        <%= f.input :description %>
        <%= f.input :city %>
        <%= f.input :image_url %>
        <%= f.submit "Submit", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
