<div class="p-4 border">
  <%= form_with url: instruments_path, method: :get, data: { controller: "searchform" } do %>
    <div data-controller="toggle">
      <div class="d-flex">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for an instrument" %>
        <%= text_field_tag :dates,
          params[:dates],
          data: { controller: "datesearch", mode: "range" },
          placeholder: "Select date range" %>
        <div class="btn" data-action="click->toggle#fire">
          <i class="fa-solid fa-sliders" style="color: $o-black;"></i>
        </div>
      </div>
      <div class="d-flex border p-2 mt-4 d-none" data-toggle-target="togglableElement">
        <p class="flex-shrink-0">Maximum Distance:</p>
        <%= range_field_tag :distance,
          params[:distance],
          class: "form-range px-2",
          style: { color: "$o-black" },
          data: { action: "change->searchform#fire", searchform_target: "rangeInput" }
        %>
      <p class="flex-shrink-0" data-searchform-target="rangeText"></p>
      </div>
      <%= submit_tag "Search", name: "", class: "d-none" %>
    </div>
  <% end %>
</div>
