<div class="container d-flex flex-column">
  <div class="row">
    <h1><%= @instrument.category %> offered by <%= @user.first_name %> <%= @user.last_name[0] %>.</h1>
  </div>

  <div class="row justify-content-between align-content-center">
    <div class="col-4">
      <%= image_tag @instrument.image_url, alt: "Image of #{@instrument.category}", height: 400 %>
    </div>
    <div class="col-4 pe-10 me-10">
      <% if @instrument.model != '' %>
        <h2><%= @instrument.model %>, <%= @instrument.brand %></h2>
      <% end %>
      <h3>Located in <%= @instrument.city %> for <%= @instrument.daily_price.to_i %> € per day.</h3>
      <p>Description: <%= @instrument.description %></p>
      <% if @my_instrument %>
        <%= link_to 'Edit Instrument', edit_instrument_path(@instrument) %>
        <%= link_to 'Delete Instrument',
          instrument_path(@instrument), html_options = {
            data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this #{@instrument.category}?"} } %>
        <div data-controller="toggle" class="mt-5">
          <button data-action="click->toggle#fire" class="btn btn-outline-primary">Schedule Unavailability</button>
          <div data-toggle-target="togglableElement" class="d-none">
            <%= render 'booking_form', booking: @booking, instrument: @instrument, instrument_bookings: @instrument_bookings %>
          </div>
        </div>
      <% else %>
        <p>Distance from you: <%= @distance %> km</p>
        <div data-controller="toggle" class="mt-5">
        <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book me!</button>
        <div data-toggle-target="togglableElement" class="d-none"><%= render 'booking_form', booking: @booking, instrument: @instrument, instrument_bookings: @instrument_bookings %>
        </div>
      <% end %>
    </div>
  </div>
</div>
