<h1>A <%= @instrument.category %> offered by <%= @user.first_name %> <%= @user.last_name[0] %>.</h1>
<div class="d-flex align-contents-center">
  <div class="col-5">
    <%= image_tag @instrument.image_url, alt: "Image of #{@instrument.category}", height: 400 %>
  </div>
  <div class="col-5">
    <h2>
      <%= @instrument.model %>, <%= @instrument.brand %>
    </h2>
    <p><%= @instrument_bookings %></p>
    <h3>
      Located in <%= @instrument.city %> for <%= @instrument.daily_price %> per day.
    </h3>
    <p>
      Description: <%= @instrument.description %>
    </p>
    <div data-controller="toggle" class="mt-5">
    <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book me!</button>
    <div data-toggle-target="togglableElement" class="d-none">
    <%= render 'booking_form', booking: @booking, instrument: @instrument, instrument_bookings: @instrument_bookings %>
    </div>
  </div>
    <p>
      Distance from you: <%= @distance %> Km.
    </p>
    <%= render 'booking_form', booking: @booking, instrument: @instrument %>
  </div>
</div>
<%= render 'layouts/booking_inspect', instrument: @instrument, booking: @instrument_bookings.last %>
