<!DOCTYPE html>
<html>
  <head>
    <title>MySpare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <i class="fa-solid fa-guitar"></i>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Search?</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div>

      <%= link_to "pages#home", root_path %>
      <%= link_to "instruments#index", instruments_path %>
      <%= link_to "instruments#new", new_instrument_path %>
      <%= link_to "dashboards#show", dashboard_path %>
    </div>
    <%= yield %>
  </body>
</html>
