<!DOCTYPE html>
<html>
  <head>
    <title>MySpare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="navbar navbar-expand-sm navbar-light navbar-myspare">
        <div class="container-fluid">
          <%= link_to root_path do %>
            <div><h2 id="link_home">My Spare</h2></div>
          <% end %>
          <div><%= render 'search_form' %></div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "Instruments index", instruments_path, class: "dropdown-item" %>
                    <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
                    <%= link_to "New instrument", new_instrument_path, class: "dropdown-item" %>
                    <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <%= render "layouts/flashes" %>
    </div>
    <%= yield %>
  </body>
</html>
