<!DOCTYPE html>
<html>
  <head>
    <title>MySpare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="nav-div">
      <nav>
        <div class="navbar fixed-top navbar-expand-sm navbar-light navbar-myspare">
          <div class="container-fluid">
            <%= link_to root_path do %>
              <i class="fa-solid fa-guitar" style="color: $white" id="link_home">My Spare</i>
            <% end %>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div><%= render 'instruments/search_form' %></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                <% if user_signed_in? %>
                  <li class="nav-item active" id="link_dashboard">
                    <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item dropdown">
                    <%# The image_tag place holder is bellow this line:%>
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <%= link_to "Instruments index", instruments_path, class: "dropdown-item" %>
                      <%= link_to "New instrument", new_instrument_path, class: "dropdown-item" %>
                      <hr class="dropdown-divider">
                      <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div>
        <%= render "layouts/flashes" %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
