<!DOCTYPE html>
<html>
  <head>
    <title>MySpare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="navbar navbar-expand-sm navbar-light navbar-myspare">
        <div class="container-fluid">
          <div><h2>My Spare</h2></div>
          <div><%= render 'search_form' %></div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Search?</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <%= render "layouts/flashes" %>
    </div>
    <%= yield %>
  </body>
</html>
